<ion-view view-title="Expenses">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-plus"
            ui-sref="app.create">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher
            pulling-text="Refresh..."
            on-refresh="refresh()" >
        </ion-refresher>

        <ion-list>
            <ion-item ng-repeat="expense in expensesList" ng-click="launchUpdate(expense)" class="item item-divider" on-swipe-left="copy(expense)">
                <h2><span class="positive">Rs.{{expense.amount}} </span> on <span class="positive">{{expense.expense_date | date : dd-MMM-yyyy }}</span></h2>
                <h2><span class="positive"> Spent on : {{expense.description || "Data Not Available"}}</span></h2>
                <h3><span class="royal">#{{expense.category.name || "uncategorized"}} - {{expense.subcategory.name || "?" }}</span></h3>
                <h4><span class="royal">* {{expense.nature.name || "nature not known"}}</span></h4>
                <h4><span ng-repeat="tag in expense.tags">@{{tag.name}}</span></h4>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll
            ng-if="canLoadMore"
            immediate-check="false"
            on-infinite="next()">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>
