<ion-view>
    <ion-nav-title> {{$state.current.data.operation}} Expense </ion-nav-title>
    <ion-content>
        <form name="expenseForm" novalidate="" ng-submit="saveExpense(expenseForm)">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Expense Date</span >
                    <input type="date" ng-model="expense.expense_date">
                </label>
                <label class="item item-input">
                    <span class="input-label">Amount</span >
                    <input type="number" placeholder="How much" ng-model="expense.amount">
                </label>
                <label class="item item-input">
                    <span class="input-label">Description</span >
                    <input type="text" placeholder="What did you spend on" ng-model="expense.description" >
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Category</span >
                    <select ng-model="expense.category" ng-change="selectSubCategory(expense.category)"
                                ng-options="category.name for category in categoryList track by category.id">
                    </select>
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Sub Category</span >
                    <select ng-disabled="!expense.category" ng-model="expense.subcategory"
                        ng-options="subcategory.name for subcategory in subCategoryList track by subcategory.id">
                    </select>
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Nature</span >
                    <select ng-model="expense.nature" ng-options="nature.name for nature in natureList track by nature.id">
                    </select>
                </label>
            </ion-list>
            <div class="padding" >
				<button class="button button-positive button-block"
				        type="submit" >{{$state.current.data.operation}}
				</button >
			</div >

        </form>
    </ion-content>
</ion-view>

<!--
 name="expenseDate"
name="amount"
id="category"
id="subcategory"
id="nature"
-->
